<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
 id="WebApp_ID" version="3.0">
  <display-name>Authority</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
    <!-- 配置spring的配置文件    contextConfigLocation:名称必须为它-->
    <context-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
  
    <!-- 启动spring的监听器 -->
    <listener>
          <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
  
   <!-- 字符编码过滤器的配置 -->
  <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
              <param-name>encoding</param-name>
              <param-value>UTF-8</param-value>
        </init-param>
  </filter>
 
   <filter-mapping>
         <filter-name>CharacterEncodingFilter</filter-name>
         <url-pattern>/*</url-pattern>
   </filter-mapping>
 
   <!-- spring mvc的配置 -->
  <servlet>
      <servlet-name>springmvc</servlet-name><!-- springmvc-servlet.xml -->
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
      <servlet-name>springmvc</servlet-name>
      <url-pattern>*.do</url-pattern><!-- query.do   add.do   delete.do   -->
  </servlet-mapping>
 
  <!-- 配置验证码的Servlet -->
	<servlet>
		<servlet-name>Kaptcha</servlet-name>
		<servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
		<init-param>
			<description>kaptcha image图片的宽度</description>
			<param-name>kaptcha.image.width</param-name>
			<param-value>400</param-value>

		</init-param>
		<init-param>
			<description>kaptcha image图片的高度</description>
			<param-name>kaptcha.image.height</param-name>
			<param-value>100</param-value>

		</init-param>
		
		<init-param>
		     <description>kaptcha 字体大小</description>
		     <param-name>kaptcha.textproducer.font.size</param-name>
		     <param-value>80</param-value>
		</init-param>
		
		<init-param>
			<description>验证符字符串长度</description>
			<param-name>kaptcha.textproducer.char.length</param-name>
			<param-value>5</param-value>

		</init-param>
		<init-param>
			<description>The noise producer.</description>
			<param-name>kaptcha.noise.impl</param-name>
			<param-value>com.google.code.kaptcha.impl.NoNoise</param-value> 
		</init-param>
	</servlet>

   <servlet-mapping>
      <servlet-name>Kaptcha</servlet-name>
      <url-pattern>/kaptcha.do</url-pattern>
   </servlet-mapping>
  
</web-app>